@font-face {
  font-family: "HARRYP";
  src: url("../fonts/HARRYP.TTF") format("truetype");
}
* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
}

.main {
  background-color: lavender;
  width: 100vw;
}

.header {
  width: 100vw;
  background-color: black;
  background-image: url(../images/logo-hp.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.mainTitle {
  color: gold;
  font-size: 50px;
  font-family: "HARRYP", sans-serif;
  padding: 20px;
  text-align: center;
}

.btnReset {
  background-color: darkblue;
  color: lightcoral;
  width: 60px;
  height: 30px;
  border-radius: 20%;
  margin: 10px;
  cursor: pointer;
}

.textNotFound {
  color: darkslategrey;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 10px;
}
