.sectionDetail {
  border: 2px lightcoral dotted;
  background-image: url("../images/wallpDetails.jpg");
  background-position: right;
  background-size: contain;
  padding: 10px;
}

.linkHome {
  color: red;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 15px;
}

.titleDetails {
  color: darkblue;
  font-size: 40px;
  font-family: "HARRYP", sans-serif;
  margin: 15px;
}

.imgDetail {
  width: 300px;
  height: 300px;
  margin: 20px;
}

.infoDetails {
  color: gold;
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: fit-content;
  margin: 25px;
}

.houseIcon {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.statusIconAlive {
  color: red;
}

.statusIconDeath {
  color: black;
}

.speciesIcon {
  color: black;
}
