.sectionDetail {
  border: 2px lightcoral dotted;
  background-color: lightskyblue;
  padding: 10px;
}

.linkHome {
  color: red;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  padding: 15px;
}

.titleDetails {
  color: darkblue;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  margin: 15px;
}

.imgDetail {
  width: 300px;
  height: 300px;
  margin: 20px;
}

.infoDetails {
  color: darkblue;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  width: fit-content;
  margin: 20px;
}

.houseIcon {
  width: 35px;
  height: 35px;
}

.statusIconAlive {
  color: red;
}

.statusIconDeath {
  color: black;
}

.speciesIcon {
  color: black;
}
