.form {
  padding: 10px;
  color: royalblue;
  border: 1px solid lightblue;
  width: fit-content;
}

.labelForm {
  padding: 5px;
}

.inputForm {
  background-color: lightskyblue;
  padding: 5px;
}
